body{
    background-color: #393E46;
}
h1,p{
    color: #4ECCA3;
    text-align: center;    
}
p{
    font-family: 'Zen Dots', serif;
    font-size: 2rem;
}
h1{    
    font-size: 6rem;
    font-family: 'Pacifico', serif;
}
footer {
  color: #DBEDF3;
  font-family: sans-serif;
}
.dice1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10%;
}
.dice{
    margin-left: 5%;
    margin-right: 5%;
    
}
